# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Shiny database
*.sqlite

# Temporary files created by R
*.xlsx

*.code-workspace

# Temporary Backup scripts
app/fetched_data/test_main.rds
app/fetched_data/XmainX.rds
app/saved_setting/test_source_settings.rds
BACKUP_Dockerfile.Shiny
BAK_Dockerfile.Shiny
BACK_install.R
bak_server.R

# DHIS2 data fetcher main script
app/dhis2_data.R

# Certificate Files
*.pem

# Environment Variables
.env

*.zip

#Removed test jsons
app/json
/app/notes/
app/notes.txt

TinyTeX/

!app/data/manual_content.xlsx

#removed meta
#app/meta

**note.txt

app/www/old.styles.css
