/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Sidebar styles */
.sidebar {
  width: 100%;
}

/* Button styles */
.btn {
  width: 100%;
  margin-bottom: 10px;
  background-color: #39647b; /* Primary color */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #07FFFA; /* Darker shade for hover */
}

/* DataTable styles */
.dataTables_wrapper {
  width: 100%;
}

/* Custom styles for specific elements */
#password {
  width: 100%;
}

#backup_files {
  width: 100%;
}

#table_content {
  width: 100%;
}

/* Modal styles */
.modal-dialog {
  max-width: 600px;
}

.modal-content {
  padding: 20px;
}

/* Column styles */
.col-sm-4 {
  width: 100%;
}

/* Table styles */
table.dataTable {
  width: 100% !important;
}

table.dataTable th, table.dataTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}